<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632813889804-fg7v1if5afpo1fbhkib8jsnr0e1vs86c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632813889804-fg7v1if5afpo1fbhkib8jsnr0e1vs86c</string>
	<key>API_KEY</key>
	<string>AIzaSyD0OMdSxZlyRR2D3Bp-nN2pXhkAZkX9k7o</string>
	<key>GCM_SENDER_ID</key>
	<string>632813889804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.I-P-V.My-Movie</string>
	<key>PROJECT_ID</key>
	<string>my-movie-c47ba</string>
	<key>STORAGE_BUCKET</key>
	<string>my-movie-c47ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632813889804:ios:40e0c0786635e49d330129</string>
	<key>DATABASE_URL</key>
	<string>https://my-movie-c47ba.firebaseio.com</string>
</dict>
</plist>